{% load static %}

<html>

    <head>
        <title> PublicView </title>
        <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
    </head>

    <body>
        <div class="app_header">
            <h1> PublicView </h1>
        </div>
        <div class="app_body">
            <div class="topic_list"> 
                <h2> Hot Topics </h2>
                {% for topic in topics %}
                    <div class="topic_preview"> 
                        <h3> {{ topic.title }} </h3>
                        <p> {{ topic.content }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>