body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    align-items: center;
    text-align: center;
}

.header {
    background-color: #194933;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 1%;
    position: relative;
    right: 1%;
}

.topic_list {
    margin: 2%;
}