{% load static %}

<html>

    <head>
        <title> Public Voice </title>
        <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="icon" href={% static 'images/favicon.ico' %}>
    </head>

    <body>
        <div class="app_header">
            <h1>Public Voice </h1>
        </div>
        <div class="app_body">
            <div class="topic_list"> 
                <h2> 🔥 Hot Topics 🔥 </h2>
                {% for topic in topics %}
                    <div class="topic_preview"> 
                        <h3> {{ topic.title }} </h3>
                        <p> {{ topic.description }} </p>
                    </div>
                {% endfor %}
            </div>
            
            <div class="create_topic">
                <button> 
                    <h3> Create topic! </h3> 
                </button>
                <div class="modal_container">
                    <form class="modal_bottom">
                        <input type="long-text" name="title" placeholder="Title"/> <br/>
                        <textarea name="Text1" cols="40" rows="5" placeholder="Description"> </textarea> <br/>
                        <input type="submit" value="Cancel"/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>