{% load static %}

<html>
    
        <head>
            <title> Public Voices </title>
            <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="https://unpkg.com/vue@3"></script>
            <link rel="icon" href={% static 'images/favicon.ico' %}>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    
        <body>
            <div class="app_header">
            <a href="/"> <h1><span id="public"> Public </span> <span id="voices">Voices</span> </h1> </a>
            </div>
            <div class="app_body">
                {% if error %}
                    <div class="error">
                        <p> {{ error }} </p>
                    </div>
                {% endif %}
                <div class="dashboard">
                    <div class="card">
                        <h2> Do people agree with the initial comment? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_agree_dist' | add:'.png'  }} alt="No data available" width="100%" height="50%" >
                    </div>

                    <div class="card">
                        <h2> What are people talking about? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>

                    <div class="card">
                        <h2> Which words are used to agree? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_agree' | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>
                    
                    <div class="card">
                        <h2> Which words are used to disagree? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_disagree' | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>

                    <div class="card">
                        <h2> Which words are used to be neutral? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_neutral' | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>
                </div>
            </div>
        </body>
</html>