{% load static %}

<html>
    
        <head>
            <title> Public Voices </title>
            <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="https://unpkg.com/vue@3"></script>
            <link rel="icon" href={% static 'images/favicon.ico' %}>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    
        <body>
            <div class="app_header">
            <a href="/"> <h1><span id="public"> Public </span> <span id="voices">Voices</span> </h1> </a>
            </div>
            <div class="app_body">
                {% if error %}
                    <div class="error">
                        <p> {{ error }} </p>
                    </div>
                {% endif %}
                <div class="dashboard">
                    <h2> All Comments </h2>
                    <div class="card">
                        <h2> Do people agree with the initial comment? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_agree_dist' | add:'.png'  }} alt="No data available" width="100%" height="50%" >
                    </div>
                    <div class="card">
                        <h2> How is the sentiment? </h2>
                        <div class="scorecard"> Polarity: {{ all_sentiment_polarity }} </div>
                        <div class="scorecard"> Subjectivity: {{ all_sentiment_subjectivity }} </div>
                    </div>
                    <div class="card">
                        <h2> What are people talking about? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>
                    <div class="card">
                        <h2> PCA Analysis </h2>
                        {{ component_words_and_effects | safe }}
                    </div>

                    <h2> Comments That Agree </h2>
                    <div class="card">
                        <h2> How is the sentiment? </h2>
                        <div class="scorecard"> Polarity: {{agree_sentiment_polarity}} </div>
                        <div class="scorecard"> Subjectivity: {{agree_sentiment_subjectivity}} </div>
                    </div>
                    <div class="card">
                        <h2> What are people talking about? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_agree' | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>
                    
                    <h2> Comments That Disagree </h2>
                    <div class="card">
                        <h2> How is the sentiment? </h2>
                        <div class="scorecard"> Polarity: {{ disagree_sentiment_polarity }} </div>
                        <div class="scorecard"> Subjectivity: {{ disagree_sentiment_subjectivity }} </div>
                    </div>
                    <div class="card">
                        <h2> What are people talking about? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_disagree' | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>

                    <h2> Neutral Comments </h2>
                    <div class="card">
                        <h2> How is the sentiment? </h2>
                        <div class="scorecard"> Polarity: {{ neutral_sentiment_polarity }} </div>
                        <div class="scorecard"> Subjectivity: {{ neutral_sentiment_subjectivity }} </div>
                    </div>
                    <div class="card">
                        <h2> What are people talking about? </h2>
                        <img src={{ '/static/images/plots/topic' | add:topic_id | add:'_neutral' | add:'.png' }} alt="No data available" width="100%" height="50%" />
                    </div>
                </div>
            </div>
        </body>
</html>