{% load static %}

<html>
    
        <head>
            <title> Public Voices </title>
            <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="https://unpkg.com/vue@3"></script>
            <link rel="icon" href={% static 'images/favicon.ico' %}>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    
        <body>
            <div class="app_header">
            <a href="/"> <h1><span id="public"> Public </span> <span id="voices">Voices</span> </h1> </a>
            </div>
            <div class="app_body">
                {% if error %}
                    <div class="error">
                        <p> {{ error }} </p>
                    </div>
                {% endif %}
                <div class="analyze">
                    <h2> Analyze </h2>
                    <h3> Word Cloud </h3>
                    <img src={{ '/static/images/word_clouds/topic' | add:topic_id | add:'.png' }} alt="Word Cloud" width="500" height="500" />
                    <h3> Agree Points Distribution </h3>
                    <h3> Word Clouds by Agree Points </h3>
                </div>
            </div>
        </body>
</html>