{% load static %}

<html>

    <head>
        <title> Public Voices </title>
        <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="icon" href={% static 'images/favicon.ico' %}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="app_header">
            <a href="/"> <h1><span id="public"> Public </span> <span id="voices">Voices</span> </h1> </a>
        </div>
        <div class="app_body">
            <h2> 🔥 Hot Topics 🔥 </h2>
            <div class="card_list"> 
                {% for topic in topics %}
                    <a href={{ topic.url }}>
                        <div class="topic card">
                            <h3> {{ topic.title }} </h3> 
                            <p> {{ topic.initial_comment }} </p>
                            <div class="card_footer">
                                <p class="inline_block"></p>
                                <p class="username"> {{ topic.username }} </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            
            <div class="create_modal">
                <button class="btn_create"> 
                    <h3> Create topic! </h3> 
                </button>
                <div class="modal_container">
                    {% if logged_in %}
                        <form action="/create_topic/" method="post" class="modal_bottom">
                            <input type="text" name="title" placeholder="Topic title..." required/> <br/>
                            <textarea name="initial_comment" cols="40" rows="5" placeholder="Initial comment..." required></textarea> <br/>
                            <button class="btn_submit"> Submit </button>
                        </form>
                    {% else %}
                        <form action="/login/" method="post" class="modal_bottom">
                            <input type="email" name="email" placeholder="Email" required/> <br/>
                            <input type="password" name="password" placeholder="Password" required/> <br/>
                            <input type="text" name="redirect_url" class="invisible" value='/hot_topics/'/>
                            <button class="btn_submit"> Login! </button>
                            <br/>
                            <br/>
                            <p> Don't have an account? <a href="/signup/"> Sign up </a> </p> 
                            <!-- <p> Forgot your password? <a href="/reset_password/"> Reset password </a> </p> -->
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src={% static 'js/create_modal_listener.js' %}></script>
    </body>

</html>