{% load static %}

<html>

    <head>
        <title> Public Voices </title>
        <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="icon" href={% static 'images/favicon.ico' %}>
    </head>

    <body>
        <div class="app_header">
            <a href="/"> <h1>Public Voices </h1> </a>
        </div>
        <div class="app_body">
            <div class="card_list"> 
                <h2> 🔥 Hot Topics 🔥 </h2>
                {% for topic in topics %}
                    <a href={{ topic.url }}>
                        <div class="card">
                            <h3> {{ topic.title }} </h3> 
                            <p> {{ topic.description }} </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            
            <div class="create_modal">
                <button class="btn_create"> 
                    <h3> Create topic! </h3> 
                </button>
                <div class="modal_container">
                    <form class="modal_bottom">
                        <input type="text" name="title" placeholder="Title" required/> <br/>
                        <textarea name="description" cols="40" rows="5" placeholder="Description"> </textarea> <br/>
                        <button class="btn_submit"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
        <script src={% static 'js/create_modal_listener.js' %}></script>
    </body>

</html>