{% load static %}

<html>
    
        <head>
            <title> Public Voices </title>
            <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="https://unpkg.com/vue@3"></script>
            <link rel="icon" href={% static 'images/favicon.ico' %}>
        </head>
    
        <body>
            <div class="app_header">
                <a href="/"> <h1>Public Voices </h1> </a>
            </div>
            <div class="app_body">
                <form class="auth_form" action={{ "/set_password/" | add:user_id | add:'/'}} method="post">
                    <input type="password" name="password" placeholder="Password" required/> <br/>
                    <button class="btn_submit"> Set password! </button>
                    <br/>
                </form>
            </div>
        </body>
</html>