{% load static %}

<html>
    
        <head>
            <title> Public Voices </title>
            <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <script src="https://unpkg.com/vue@3"></script>
            <link rel="icon" href={% static 'images/favicon.ico' %}>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    
        <body>
            <div class="app_header">
                <a href="/"> <h1><span id="public"> Public </span> <span id="voices">Voices</span> </h1> </a>
            </div>
            <div class="app_body">
                {% for error in errors %}
                    <div class="error">
                        <p> {{ error }} </p>
                    </div>
                {% endfor %}
                <form class="auth_form" action="/signup/" method="post">
                    <input type="email" name="email" placeholder="Email" required/> <br/>
                    <input type="text" name="username" placeholder="Username" required/> <br/>
                    <input type="password" name="password" placeholder="Password" required/> <br/>
                    <input type="password" name="confirm_password" placeholder="Confirm password" required/> <br/>
                    <button class="btn_submit"> Sign up! </button>
                    <br/>
                    <br/>
                    <p> Already have an account? <a href="/"> Login </a> </p>
                </form>
            </div>
        </body>
</html>