{% load static %}

<html>

    <head>
        <title> Public Voices </title>
        <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %}>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="icon" href={% static 'images/favicon.ico' %}>
    </head>

    <body>
        <div class="app_header">
            <a href="/"> <h1>Public Voices </h1> </a>
        </div>
        <div class="app_body">
            <div class="card_list"> 
                <div class="topic card">
                    <a class="analyze_link" href={{ topic.analyze_url }}>
                        Analyze comments!
                    </a>
                    <h2> {{ topic.title }} </h2>
                    <p> {{ topic.description }} </p>
                    <p class="username"> {{ topic.username }} </p>
                </div>
                {% for comment in comments %}
                    <div class="comment card">
                        <p> {{ comment.content }} </p>
                        <p class="username"> {{ comment.username }} </p>
                    </div>
                {% endfor %}
            </div>
            
            <div class="create_modal">
                <button class="btn_create"> 
                    <h3> Comment! </h3> 
                </button>
                <div class="modal_container">
                    {% if logged_in %}
                        <form action={{ topic.create_comment_url }} method="post" class="modal_bottom">
                            <textarea name="content" cols="40" rows="5"> </textarea> <br/>
                            <button class="btn_submit"> Comment! </button>
                        </form>
                    {% else %}
                        <form action="/login/" method="post" class="modal_bottom">
                            <input type="email" name="email" placeholder="Email" required/> <br/>
                            <input type="password" name="password" placeholder="Password" required/> <br/>
                            <input type="text" name="redirect_url" class="invisible" value={{ login_redirect_url }}/>
                            <button class="btn_submit"> Login! </button>
                            <br/>
                            <br/>
                            <p> Don't have an account? <a href="/signup/"> Sign up </a> </p> 
                            <!-- <p> Forgot your password? <a href="/reset_password/"> Reset password </a> </p> -->
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src={% static 'js/create_modal_listener.js' %}></script>
    </body>

</html>