/* General */

body {
    /* background-color: #faebd7; */
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}

.app_header {
    background-color: #151618;
    width: 100%;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 2.5px 0 #151618;
}

.app_header h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

.app_header span#public {
    color: #00b34d;
}

.app_header span#voices {
    color: #CE2D1B;
}

.app_header h1 image {
    width: 100%;
    height: fit-content;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h2 {
    color: #CE2D1B;
}

.app_body {
    width: 90%;
    margin: 15% auto;
}

.invisible {
    display: none;
    width: 0;
    height: 0;
}

.agree span {
    margin-top: 2%;
}

.agree .disagree_label {
    float: left;
    margin-left: 2.5%;
    text-shadow: #151618 0 0 0.5px;
}

.agree .agree_label {
    float: right;
    margin-right: 2.5%;
    text-shadow: #151618 0 0 0.5px;
}

.agree .slider {
    width: 70%;
}

/* Modals */

.modal_container {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    display: none;
    align-items: center;
}

.modal_bottom {
    position: fixed;
    bottom: 0%;
    background-color: #00b34d;
    color: #151618;
    width: 100%;
    padding: 1%;
    box-shadow: 0 0 2.5px 0 #151618;
    border-radius: 10px;
}

button,.btn {
    background-color: #CE2D1B;
    color: #ffffff;
    text-shadow: #151618 0 0 1px;
    border: none;
    border-radius: 10px;
    padding: 1%;
}

.btn_create {
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
    text-shadow: #151618 0 0 1px;
}

.btn_submit {
    background-color: #CE2D1B;
    width: 50%;
}

input, textarea {
    color: #151618;
    border: none;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    width: 90%;
}

/* Cards & Card Lists */

.card {
    background-color: #00b34d;
    color: #151618;
    text-align: left;
    padding: 2.5% 2.5%;
    margin: 2.5% 0;
    border-radius: 10px;
    box-shadow: 0 0 2.5px 0 #151618;
}

a {
    text-decoration: none;
}

.analyze_link {
    float: right;
    margin-right: 2.5%;
    margin-top: 2.5%;
    color: #151618;
}

.inline_block {
    display: inline-block;
}

.card_footer .username {
    display: inline;
    float: inline-end;
    margin-right: 2.5%;
    color: #151618;
}

.card_footer .agree_points {
    display: inline-block;
    text-align: start;
}

.card_list h2 {
    color: #151618;
}

.dashboard .card {
    background-color:#ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    text-align: center;
}

.dashboard .card h2 {
    color: #151618;
    margin: 1% 0%;
}

.dashboard .card .scorecard {
    background-color: #00b34ecc;
    color: #151618;
    text-align: center;
    padding: 2.5% 2.5%;
    margin: 2.5% 2.5%;
    border-radius: 10px;
    box-shadow: 0 0 2.5px 0 #151618;
    display: inline-block;
    width: max-content;
}

/* Authentication */

.auth_form {
    background-color: #00b34d;
    color: rgb(0, 0, 0);
    padding: 2.5% 2.5%;
    margin: 2.5% 0;
    border-radius: 10px;
    box-shadow: 0 0 2.5px 0 #151618;
}

/* Responsive */

@media screen and (min-width: 600px) {
    .app_body {
        width: 50%;
        margin: 10% auto;
    }

    .modal_bottom {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .auth_form input {
        width: 50%;
    }

    .auth_form .btn_submit {
        width: 25%;
    }
}