/* General */

body {
    background-color: #faebd7;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}

.app_header {
    background-color: #40f0a0;
    color: #171717;
    width: 100%;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 2.5px 0 #171717;
}

.app_header h1 image {
    width: 100%;
    height: fit-content;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    color: #26288a;
    text-shadow: #242424 0 0 1.5px;
}

.app_body {
    width: 90%;
    margin: 15% auto;
}

.invisible {
    display: none;
    width: 0;
    height: 0;
}

/* Modals */

.modal_container {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    display: none;
    align-items: center;
}

.modal_bottom {
    position: fixed;
    bottom: 0%;
    background-color: #40f0a0;
    color: #171717;
    width: 100%;
    padding: 1%;
    box-shadow: 0 0 2.5px 0 #171717;
    border-radius: 10px;
}

button,.btn {
    background-color: #8b1515;
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 1%;
}

.btn_create {
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
}

.btn_submit {
    background-color: #26288a;
    color: antiquewhite;
    width: 50%;
}

input, textarea {
    background-color: antiquewhite;
    color: #171717;
    border: none;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    width: 90%;
}

/* Cards & Card Lists */

.card {
    background-color: #40f0a0;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 2.5% 2.5%;
    margin: 2.5% 0;
    border-radius: 10px;
    box-shadow: 0 0 2.5px 0 #171717;
}

.card_list h2, .card_list h3 {
    color: #8b1515;
}

a {
    text-decoration: none;
}

.analyze_link {
    float: right;
    margin-right: 2.5%;
    color: #8b1515;
}

p.username {
    text-align: end;
    margin: 2.5% 2.5%;
    color: #26288a;
}

/* Authentication */

.auth_form {
    background-color: #40f0a0;
    color: rgb(0, 0, 0);
    padding: 2.5% 2.5%;
    margin: 2.5% 0;
    border-radius: 10px;
    box-shadow: 0 0 2.5px 0 #171717;
}

/* Responsive */

@media screen and (min-width: 600px) {
    .app_body {
        width: 50%;
        margin: 10% auto;
    }

    .modal_bottom {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .auth_form input {
        width: 50%;
    }

    .auth_form .btn_submit {
        width: 25%;
    }
}